body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

#moving-object {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: red;
}

.startbutton {
  position: absolute;
  top: 35%;
  right:20%;
  background-color: aliceblue;
  border:none;
  border-radius:10px;
  box-shadow:0px 0px 2px 2px rgb(0,0,0);
  padding:15px;
  min-height:100px; 
  min-width: 300px;
  font-size:200px;
}

.startbuttonposition {
  display:flex;
  /* center items horizontally */
  justify-content: center;
  /* center items vertically */
  align-items: center;
  margin:50px auto;
}
